# Workspace ignores
node_modules/
packages/*/node_modules/
dist/
packages/*/dist/
.env
.env.*
.DS_Store
coverage/
*.log
*.pid
*.tgz
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/

# Build artifacts
*.tsbuildinfo
